body{
	margin: 0 auto;
	width: 100%;
}
main{
	height: 742px;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul{
	margin-left: -3%;
	display: flex;
}
ul li{
	list-style: None;
	margin-left: 40px;
}
div{
	width: 200px;
	height: 200px;
	background-color: black;
}
